*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: Arial, Helvetica, sans-serif;
          scroll-behavior: smooth;
}
.logo img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-left: 10px;
}
.logo{
          display: flex;
          align-items: center;
          
}

.container{
          position: relative;
          min-height: 100vh;

}
.bg{
          width: 100%;
          height: 100%;
          position: relative;
}
.bg::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('https://images.unsplash.com/photo-1476820865390-c52aeebb9891?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
          z-index: -1;
          background-size: cover;
         background-position: center;
         filter: brightness(45%);

}        
.menu{
          position: relative;
          width: 85%;
          height: 15vh;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;

}
* a{
          text-decoration: none;
}
ul li{
list-style: none;
}
.logo a {
          font-size: 1rem;
          color: aliceblue;
}
.menu ul{
          display: flex;
         
}
.menu ul li{
          padding: 0 17px;
          
}
.menu ul li a {
          font-weight: bold;
          color: aliceblue;
          font-size: 14px;
}


.content{
          width: 85%;
          margin: 0 auto;
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%,-50%);
          display: flex;
}
.header{
width: 50%;
position: relative;
color: #fff;
}

.header h3{
          font-size: 2.5rem;
          letter-spacing: 5px;
          font-weight: bold;
}
.header h3 i{
          color: orange;
}
.header h1{
          font-size: 5rem;
}
.header p{
          opacity: .6;
}
.grid-card h2{
          color: #fff;
          font-size: 20px;
          padding: 5px;
}
.grid-card{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-gap: 25px;
}
.grid-card img{
          width: 100%;
         height: 150px;
         background-size: cover;
         background-position: center;
        
         
         
     
}

.grid-card .box img:hover{
          outline: 3px solid rgb(15, 203, 236);
}
.box img{
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
          background-size: cover;
          background-position: center;
          transition: 0.5s;
}

.grid-card h2{
          display: flex;
          justify-content: center;
}
.box img{
         
  border-radius: 10px;
}
.content2{

width: 1100px;
height: 500px;

margin: 0 auto;
}
.container_contract .menu ul li a {
  color: #fff;

}
.detaildata{
  display: inline;
  text-align: center;
margin: 0 auto;
  justify-content: center;
  padding: 10px;
  width: 100%;

}
.image img{

width: 200px;
height: 200px;
padding: 10px;
justify-content: center;
border-radius: 50%;
box-shadow: 20px 20px 20px grey;
}
.detaildata h1{
  text-decoration: underline;
  padding: 10px;
}
.container_contract .menu{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bg0{

  background-image: url("https://images.unsplash.com/photo-1707175367048-2161cb1d8312?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.detaildata2 h1,h2{
  font-weight: bold;
  font-size: 30px;
  color: #fff;
 
}
.detaildata h1{
  color: #fff;
}
.menu ul li a {
  font-size: 20px;
}

.grid-card2{
  display: grid;
  grid-template-columns: repeat(1,1fr);
          grid-gap: 25px;
          height: 500px;
}
.detaildata2  {

  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.maping h1{
  color: #fff;
}
.maping iframe{
  border-radius: 10%;
 
}
.main{

  height: auto;

  margin: 0 auto;
  background-color: beige;
}
.menu2 ul  {
  display: flex;
  width: 100%;

margin: 0 auto;
  justify-content: center;
align-items: center;
  text-align: center;
  padding: 10px 50px;
}

.menu2 ul li{
  padding: 10px 30px;
}
.menu2 ul li a:hover{

color: blue;
border-radius: 10px;

}
.menu2 ul li a{
  color: black;
  font-weight: bold;
}
.main .imageroom img{
 display: flex;
margin: 0 auto;
  width: 400px;
  height: 400px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.main .head{
  padding: 20px;
 display: flex;
  justify-content: center;
  margin: 0 auto;
}
.main{
  display: grid;
  grid-template-columns: repeat(auto-fill,1fr);
          grid-gap: 25px;
          width: 80%;
}
.container_room{
  background-color: gold;
}
.content .header video{
  border-radius: 20%;
}